@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
  font-family: 'Poppins', sans-serif !important;
}
:root {
  --american-rose: #FF033E;
  --Cincinnati-Red: #C6011F;
  --gris-cemento: rgb(102, 102, 102);
  --gris-light: rgb(168, 168, 168);
  --light: #fff;
  --black: #000;
  --green: #008000;
  --dark-green: #006400;
}
a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 12px;

}

::-webkit-scrollbar-track{
  background-color: var(--light);
}

::-webkit-scrollbar-thumb{
  background-color: var(--american-rose);
  border: 1px solid var(--Cincinnati-Red);
  border-radius: 20px;
}

/*Components Navbar */
.galaxi{
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--gris-cemento);
  margin: 0 5px 0 0;
}
.store{
  font-size: 1rem;
  font-weight: 600;
  color: var(--american-rose);
  margin: 0 10px 0 20px;
}
.carrito{
  width: 24px;
}
.nav-link {
  font-weight: 500;
  color: var(--gris-cemento);
  transition: .5s;
}
.nav-link:hover{
  color: var(--american-rose);
}
.dropdown-item {
  color: var(--gris-cemento);
  transition: .5s;
}
.dropdown-item:hover{
  color: var(--american-rose);
}
.container-carrito{
  position: absolute;
  top: 18px;
  right: 25%;
}
.navbar-nav{
  align-items: flex-end;
}

/*main */
/*Components ItemList */
.container-card{
  justify-content: center;
  align-items: center;
}
/*Components Item */
.a-p-l{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 75%;
  height: auto;
  margin: 20px;
  padding: 0 10px 0 10px;
  border: 1px solid;
  border-radius: 20px;
  border-color: var(--gris-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card h4{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 20px;
}

.container-img{
  width: 100%;
  height: 370px;
  padding: 0;
  margin: 0;
}
.container-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-pab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.price{
  margin: 0 0 15px 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}
.flex{
  margin: 0 0 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gris-cemento);
}
.flex img{
  width: 20px;
  margin-right: 6px;
}
.g{
  margin: 0 0 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gris-cemento);
}
.container-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--american-rose);
  --bs-btn-border-color: var(--american-rose);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--american-rose);
  --bs-btn-hover-border-color: var(--american-rose);
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--american-rose);
  --bs-btn-active-border-color: var(--american-rose);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--american-rose);
  --bs-btn-disabled-border-color: var(--american-rose);
}
/*Components ItemCharger */
/**
  * Waterfall
  *
  * @author jh3y
*/
.container-animation{
  display: block;
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%); }
  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
            transform: translateY(250%); } }
@keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%); }
  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
            transform: translateY(250%); } }

.waterfall div {
  -webkit-animation: waterfall 1.5s infinite;
          animation: waterfall 1.5s infinite;
  background-color: var(--american-rose);
  height: 20px;
  left: 50%;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 20px; }
  .waterfall div:nth-of-type(1) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
    margin-left: -10px; }
  .waterfall div:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    margin-left: 15px; }
  .waterfall div:nth-of-type(3) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    margin-left: -35px; }
  .waterfall div:nth-of-type(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    margin-left: 40px; }
  .waterfall div:nth-of-type(5) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    margin-left: -60px; }

/*Components ItemDetail */
.section-detail{
  width: 100%;
  height: 105vh;
  position: relative;
  margin: 0;
  padding: 0 20px 0 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.block-colour{
  width: 100%;
  height: 17vh;
  background-color: var(--american-rose);
  border-radius: 0% 0% 8% 8% / 25% 25% 46% 46%;;
  position: relative;
  top: 0;
}

.article-details{
  width: 80%;
  padding: 20px;
  background-color: var(--light);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gris-light);
  border-radius: 30px;
  position: absolute;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.details{
  width: 100%;
  padding: 20px;
  background-color: transparent;
}
.details h4{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 10px 0;
}
.details .description{
  display: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 10px 0;
}
.memory{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 0 10px 0;
}
.memory p{
  font-size: 14px;
  font-weight: 500;
  color: var(--gris-cemento);
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--gris-cemento);
  border-radius: 10px;
}
.memory p:hover{
  color: #000;
  border-color: #000;
}
.price-details{
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin: 0 0 10px 0;
}
.extras-details p{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: var(--gris-cemento);
  margin: 0 0 10px 0;
}
.amout-details{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 10px 0;
}
.amout-details p{
  font-size: 1rem;
  font-weight: 500;
  color: var(--gris-cemento);
  margin: 0;
}
.shipping-detail{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: var(--gris-cemento);
  margin: 0 0 0 0;
}
.container-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.btn-compra{
  width: 250px;
  height: 40px;
  background-color: var(--american-rose);
  border: 1px solid var(--american-rose);
  border-radius: 20px;
  color: var(--light);
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-compra:hover{
  background-color: var(--Cincinnati-Red);
}

.img-details{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-details img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-item-count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-count{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 0;
}

/* Components CartContainer*/
.container-cart{
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-colour-cart{
  width: 90%;
  height: 90%;
  background-color: var(--american-rose);
  border: 1.5px solid var(--Cincinnati-Red);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.section-colour-cart h4{
  text-align: center;
  color: var(--light);
  font-size: 1rem;
  font-weight: 700;
  margin: 3px;
  justify-self: flex-start;
}
.articles-cart-container{
  width: 90%;
  height: 70%;
  background-color: var(--light);
  border: 1px solid var(--gris-light);
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cons-detail-cart{
  width: 90%;
  height: 20%;
  background-color: var(--light);
  border: 1px solid var(--gris-light);
  border-top: 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detail-products{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10%;
}
.detail-products p{
  font-size: 1rem;
  font-weight: 700;
  margin: 0 5px 0 5px;
}
.cons-btn-buy{
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cons-btn-buy button{
  width: 80%;
  height: 40px;
  border: 1px solid var(--Cincinnati-Red);
  border-radius: 20px;
  background-color: var(--american-rose);
  color: var(--light);
  margin: 5px 0 5px 0;
}
.v-a-i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.v-a-i button{
  width: 100%;
  height: auto;
  border: 1px solid var(--Cincinnati-Red);
  border-radius: 20px;
  background-color: var(--american-rose);
  color: var(--light);
  margin: 5px 0 5px 0;
}

/* Components Cart*/
.article-cart{
  width: 98%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gris-light);
  border-radius: 10px;
  margin:9px 0 9px 0;
}
.cons-img{
  width: 60px;
  height: 100%;
}
.cons-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cons-name{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cons-name p{
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.cons-amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display{
  display: none;
}
.cons-amount p{
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.cons-price{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cons-price p{
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.cons-btn{
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 5px;
  background-color: var(--american-rose);
  border: 1px solid var(--Cincinnati-Red);
  border-radius: 8px;
  color: var(--light);
}
.cons-btn2{
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 5px;
  background-color: var(--green);
  border: 1px solid var(--dark-green);
  border-radius: 8px;
  color: var(--light);
}

/* Components Footer*/
.bg-dark{
  background-color: var(--black) !important;
}
.footer-business{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.footer-business p{
  font-size: 1rem;
  font-weight: 600;
}
.footer-business ul li{
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}
.footer-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.footer-product p{
  font-size: 1rem;
  font-weight: 600;
}
.footer-product ul li{
  list-style: none;
}
.footer-product ul li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
}
.footer-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.footer-card div img{
  width: 25px;
  margin: 5px;
  border-radius:5px;
}
.autor{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.autor p{
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  margin: 15px 0 10px 0;
}

@media screen and (min-width: 992px) {
  main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .section-detail{
    width: 100%;
    height: 112vh;
  }
  .card{
    width: 270px;
    height: auto;
    margin: 25px;
    padding: 0;
  }
  .container-img{
    width: 100%;
    height: 340px;
    padding: 0;
    margin: 0;
  }
  .block-colour{
    height: 30vh;
  }
  .article-details{
    width: 80%;
  }
  .details{
    width: 50%;
    height: 100%;
  }
  .details h4{
    text-align: left;
    margin: 0 0 20px 0;
  }
  .details .description{
    text-align: left;
    margin: 0 0 20px 0;
  }
  .memory{
    justify-content: flex-start;
    align-items: center;
    margin:0 0 20px 0;
  }
  .price-details{
    margin: 0 0 20px 0;
  }
  .img-details{
    width: 50%;
    height: 100%;
  }
  .item-count{
    width: 100%;
  }
  .btn-compra{
    width: 350px;
  }
  .cons-amount {
    width: 15%;
  }
  .cons-detail-cart {
    justify-content: space-evenly;
  }
  .display{
    display: block;
  }
}
  
  @media screen and (min-width: 768px) {
      .item-count{
        width: 80%;
      }
      .article-cart{
        height: 75px;
      }
      .cons-img{
        width: 75px;
      }
      .cons-name p{
        font-size: 1rem;
      }
      .cons-amount p{
        font-size: 1rem;
      }
      .cons-price p{
        font-size: 1rem;
      }
}
  
@media screen and (min-width: 576px) {
  .details .description{
    display: block;
  }
  .block-colour{
    height: 22vh;
  }
  .btn-compra{
    width: 320px;
  }
  .article-cart{
    height: 70px;
  }
  .cons-img{
    width: 70px;
  }
  .cons-name p{
    font-size: 16px;
  }
  .cons-amount p{
    font-size: 16px;
  }
  .cons-price p{
    font-size: 16px;
  }
}